head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title project-name
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/plugins/bootstrap.css')
  //link(rel='stylesheet', href='css/plugins/jquery.formstyler.css')
  //link(rel='stylesheet', href='css/plugins/jquery.formstyler.theme.css')
  //link(rel='stylesheet', href='css/plugins/slick.css')
  //link(rel='stylesheet', href='css/plugins/slick-theme.css')
  link(rel='stylesheet', href='css/plugins/magnific-popup.css')
  //link(rel='stylesheet', href='css/plugins/photoswipe.css')
  //link(rel='stylesheet', href='css/plugins/dropzone.min.css')
  //link(rel='stylesheet', href='css/plugins/ion.rangeSlider.min.css')
  //link(rel='stylesheet', href='css/plugins/nanoscroller.css')
  link(rel='stylesheet', href='css/plugins/animate.min.css')
  //link(href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css' rel='stylesheet')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
  link(rel='stylesheet', href='css/style.css?v=1')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
