script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/bootstrap.js")
//script(src="js/plugins/jquery.formstyler.min.js")
//script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js')
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/jquery.magnific-popup.js")
script(src="js/plugins/wow.min.js")
script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
//script(src="js/plugins/jQuery.scrollSpeed.js")
script(src="./js/index.js")
  

