doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head


  body.body
    include ../_components/header
      
    .wrapper
      .menu-dropdown__bg
      block content

    include ../_components/form
    include ../_components/footer
    include ../_components/modals  
    include ../templates/scripts.pug
      
