@font-face {
  font-family: 'TTHovesProTrial-Rg';
  src: url('../fonts/TTHovesProTrial-Rg.eot');
  src: url('../fonts/TTHovesProTrial-Rg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHovesProTrial-Rg.woff2') format('woff2'),
  url('../fonts/TTHovesProTrial-Rg.woff') format('woff'),
  url('../fonts/TTHovesProTrial-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTHovesProTrial-Md';
  src: url('../fonts/TTHovesProTrial-Md.eot');
  src: url('../fonts/TTHovesProTrial-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHovesProTrial-Md.woff2') format('woff2'),
  url('../fonts/TTHovesProTrial-Md.woff') format('woff'),
  url('../fonts/TTHovesProTrial-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'TTHovesProTrial-Blk';
//  src: url('../fonts/TTHovesProTrial-Blk.eot');
//  src: url('../fonts/TTHovesProTrial-Blk.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TTHovesProTrial-Blk.woff2') format('woff2'),
//  url('../fonts/TTHovesProTrial-Blk.woff') format('woff'),
//  url('../fonts/TTHovesProTrial-Blk.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: 'TTHovesProTrial-Bd';
  src: url('../fonts/TTHovesProTrial-Bd.eot');
  src: url('../fonts/TTHovesProTrial-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHovesProTrial-Bd.woff2') format('woff2'),
  url('../fonts/TTHovesProTrial-Bd.woff') format('woff'),
  url('../fonts/TTHovesProTrial-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTHovesProTrial-DmBd';
  src: url('../fonts/TTHovesProTrial-DmBd.eot');
  src: url('../fonts/TTHovesProTrial-DmBd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTHovesProTrial-DmBd.woff2') format('woff2'),
  url('../fonts/TTHovesProTrial-DmBd.woff') format('woff'),
  url('../fonts/TTHovesProTrial-DmBd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
