extends ../templates/template.pug
block content

  +section-top({
    title: `Brandformance<br>marketing`,
    slogan: "Сделаем маркетинг стратегическим",
    subtitle: `Формируем узнаваемость и растим продажи <span class="text-pink">за счёт синергии подходов brandformance и performance-маркетинга</span>`,
  })

  +page-banner("3d-brandformance.webp")

  .page-body
    section.section
      +section-head({
        num: "01",
        title: "Зачем бизнесу brandformance-маркетинг"
      })
      .section__block
        .motives-slider__wrap
          .swiper.motives-slider
            .swiper-wrapper
              -for(var i=0; i<2; i++)
                +motives-slide('motive-icon-1.svg', 'Повысить вовлеченность')
                +motives-slide('motive-icon-2.svg', 'Сформировать доверие')
                +motives-slide('motive-icon-3.svg', 'Увеличить конверсию в продажу')
                +motives-slide('motive-icon-4.svg', 'Укрепить лояльность')

      .section__block
        .container
          .reasons__wrap
            +reasons-item({
              title:"Ловим потребителя на всех этапах воронки",
              text: "Brandformance объединяет performance подход и брендинг и работает на всех этапах воронки продаж: повышает знание о бренде, формирует потребность в покупке и доводит пользователя до целевого действия."
            })
            +reasons-item({
              title:"Работаем над удержанием и возвращением потребителя",
              text: "Потребители чаще кликают на рекламу знакомого бренда. Мы помогаем сформировать узнаваемость и лояльность аудитории, которой можно продавать снова и снова."
            })
            +reasons-item({
              title:"Делаем креативную рекламу, чтобы пользователь запомнил бренд ",
              text: "Брендформанс позволяет использовать нетривиальные рекламные подходы: необычные спецпроекты, реклама у блогеров, коллаборации с другими брендами и т.д."
            })
            +reasons-item({
              title:"Доносим ценность до каждого сегмента ЦА",
              text: "Разбираем аудиторию на сегменты, определяем УТП и подбираем каналы под каждый сегмент. В итоге пользователь видит рекламу, которая соответствует его потребностям."
            })
            +reasons-item({
              title:`Следим за KPI и сокращаем расходы`,
              text: "Кроме performance метрик замеряем брендинговые: viewability, brand safety, смотрим post-view аналитику. В результате — оптимизируем кампании и сокращаем расходы до 30%."
            })
            +reasons-item({
              title:`Исследуем реакции аудитории на рекламу`,
              text: "Замеряем результат не только в продажах: используем Brand-лифты и SearchLift-ы, ассоциированные конверсии, настраиваем поствью-аналитику."
            })


    section.section
      +section-head({
        num: "02",
        title: "Как работает Brandormance-подход в маркетинге",
        subtitle: "Инвестиции в брендформанс-подход окупаются на средней и длинной дистанции. При этом брендформанс-подход работает «здесь и сейчас»: Брендформанс работает и на продажи «здесь и сейчас»: помогает привлечь нового пользователя, провести его через всю воронку продаж и удержать длительное время, возвращая к покупкам. "
      })
      .section__block
        .container
          .funnels__wrap
            .funnels__item
              .row
                .col-lg-4
                  +funnels-title("Brandformance")
                .col-lg-8
                  .funnels-steps
                    +funnels-step-item("Знание", "формирование бренда, имиджа и спроса", "100", "#990033")
                    +funnels-step-item("Вовлечение", "донесение уникальности предложения", "80", "#990033")
            .funnels__item
              .row
                .col-lg-4
                  +funnels-title("Performance")
                .col-lg-8
                  .funnels-steps
                    +funnels-step-item("Покупка", "лидогенерация, стимулирование к покупке", "70", "#660022")
                    +funnels-step-item("Лояльность", "Повторные конверсии", "50", "#660022")


    section.section
      +section-head({
        num: "03",
        title: "Как мы работаем"
      })
      .section__block
        .container
          +stage-title("1 этап", "Начинаем со стратегии.")
          .steps-preparation__wrap
            +step-preparation(`0`, '01','Брифинг','Определяем цели, задачи, KPI.')
            +step-preparation(`200`, '02','Аудит','Анализируем текущие каналы и РК для более точного прогноза эффективности.')
            +step-preparation(`400`, '03','Анализ конкурентов','Анализируем конкурентов, находим способы отстройки и позиционирования.')
            +step-preparation(`600`, '04','Анализ рынка','Изучаем рынок и тренды: смотрим, какие каналы работают эффективнее.')
            +step-preparation(`0`, '05','Концепция','Разрабатываем креативную концепцию, формируем ключевые сообщения для сегментов аудитории')
            +step-preparation(`200`, '06','Медиаплан','Считаем затраты по всем каналам привлечения, прогнозируем эффективность')
            +step-preparation(`400`, '07','Презентация','Показываем стратегию заказчику, корректируем стратегию и тактику при необходимости')
      .section__block
        .container
          +stage-title("2 этап", "Запускаем рекламу. Делаем работу удобной: формируем еженедельные и ежемесячные отчеты в комфортном формате, регулярно синхронизируемся по целям и задачам.")
          .steps-working__wrap
            +step-working('01 месяц','Настройка','Настраиваем аналитику и рекламные кампании. ')
            +step-working('02 месяц','Оптимизация','Анализируем эффективность и оптимизируем кампании. Снова запускаем.')
            +step-working('03 месяц','Масштабирование','Смотрим результаты. Снова оптимизируем. Тестируем гипотезы для роста.')


    section.section
      +section-head({
        num: "04",
        title: "Достигаем результатов"
      })
      .section__block
        .container
          +cases-block

      .section__block
        .container
          .section-bottom
            a(href="javascript:void(0);").btn.btn-tr Все кейсы

      .section__block
        .container
          .row
            .col-12.offset-0.col-md-8.offset-md-2.col-lg-12.offset-lg-0
              +clients-slider
