extends ../templates/template.pug
block content

  +section-top({
    title: `Продвижение<br>сайтов`,
    slogan: "Подготовим бесплатный прогноз продвижения в соцсетях ",
    subtitle: `Начинаем с бесплатного аудита, чтобы оценить потенциал SEO <span class="space-nowrap">и <span class="text-pink">найти</span></span> <span class="text-pink">точки роста вашего бизнеса</span>`,
  })

  +page-banner("3d-seo.webp")

  .page-body
    section.section
      +section-head({
        num: "01",
        title: "Целимся в лиды и продажи, а не просто — в топ выдачи",
        subtitle: "Помогаем получать больше органического трафика: адаптируем контент и сайты под требования поисковых систем, улучшаем юзабилити сайта, чтобы повысить конверсию сайта."
      })
      .section__block
        .container
          .block-cards-slider__wrap
            .row
              .col-lg-6
                .block-cards-slider__items
                  .block-cards-slider__item
                    .block-cards-slider__title Оцениваем потенциал продвижения
                    .block-cards-slider__text Прогнозируем результат, опираясь на спрос. При слабом потенциале SEO, предлагаем эффективные способы продвижения.
                  .block-cards-slider__item
                    .block-cards-slider__title Решаем задачи комплексно
                    .block-cards-slider__text Работаем с SEO, учитывая особенности сайта, влияние контекстной рекламы и ORM с максимальной отдачей от каждого источника привлечения аудитории.

              .col-lg-6
                .number-slider__wrap
                  .swiper.number-slider.runet-slider
                    .swiper-wrapper
                      - for(var i=0; i<3; i++)
                        .swiper-slide
                          +runet-slider-item("seo-img-1.webp")
                        .swiper-slide
                          +runet-slider-item("seo-img-2.webp")
                        .swiper-slide
                          +runet-slider-item("seo-img-3.webp")
                    .number-slider__nav
                      .number-slider__nav-inner
                        .swiper-pagination
                        .d-none.d-md-block
                          .swiper-buttons__wrap
                            .swiper-button-prev
                            .swiper-button-next


    section.section
      +section-head({
        num: "02",
        title: "Достигаем результатов",
        subtitle: "Некоторыми проектами делимся открыто, а часть — рассказываем на личной встрече, подбирая кейсы под вашу нишу и задачи."
      })
      .section__block
        .container
          +cases-block

      .section__block
        .container
          .section-bottom
            a(href="javascript:void(0);").btn.btn-tr Все кейсы

    section.section
      +section-head({
        num: "03",
        title: "Как мы работаем"
      })
      .section__block
        .container
          +stage-title("1 этап", "Начинаем с аудита. Анализируем, оцениваем спрос и предлагаем решения, которые помогают получать больше поискового трафика. Фокусируемся на работах, которые быстрее влияют на прирост.")
          .steps-simple__wrap
            +step-simple('','', 'steps-simple__chapter', `Что входит<br>в аудит`)
            +step-simple('01','Оценка динамики органического трафика','', '')
            +step-simple('02','Проверка на фильтры поисковых систем','', '')
            +step-simple('03','Общий анализ конкурентной среды','', '')
            +step-simple('04','Проверка технической части сайта','', '')
            +step-simple('05','Оценка уникальности контента, юзабилити','', '')
            +step-simple('06','Оценка коммерческих факторов и анализ ссылочной массы','', '')
            +step-simple('07','Финальная экспертная оценка, выводы и рекомендации','', '')
          .steps-simple__wrap
            +step-simple('','', 'steps-simple__chapter', `Ваш<br>результат`)
            +step-simple('01','Получите обзор органического трафике на сайте, видимости сайта в сравнении с конкурентами','', '')
            +step-simple('02','Поймете, как настроена индексация вашего сайта, знаете технические ошибки, скорость загрузки','', '')
            +step-simple('03','Узнаете, нет ли рисков заражения вирусами, фильтров поисковых систем','', '')
            +step-simple('04','Получите план действий: точки роста сайта, перспективы SEO по трафику и лидам','', '')
      .section__block
        .container
          +stage-title("2 этап", "Разрабатываем SEO-стратегию")
          .reasons__wrap
            +reasons-item({
              title: "Фокусируемся на том, что ведет к результатам",
              text: "SEO-стратегия — долгосрочный план продвижения, который включает глубокий анализ поисковой выдачи и конкурентов, семантическое ядро, ТЗ для доработки сайта и контента, детальный план работ."
            })
            +reasons-item({
              title: "Учитываем специфику ниши и решаем нестандартные задачи",
              text: "У каждого проекта индивидуальная стратегия, в которой меняется список работ в зависимости от задачи, ниши, специфики  бизнеса."
            })
            +reasons-item({
              title: "Приводим к результатам как можно быстрее",
              text: "После начала работ регулярно корректируем план действий, оценивая эффективность, отслеживая изменения алгоритмов и выдачи."
            })

    +section-callback({
      title: "Оценим потенциал SEO для вашего бизнеса",
      text: "Расскажите о своем проекте — изучим потенциал и предложим решение."
    })
           
    
    section.section
      +section-head({
        num: "04",
        title: "Что входит в SEO-продвижение",
      })
      .section__block
        .container
          .cards-simple__wrap
            +cards-simple-item('Подбор ключевых запросов', 'Собираем фразы, по которым люди могут найти товар или услугу, и оценивем спрос.')
            +cards-simple-item('Настройка аналитики', 'Настраиваем корректную аналитику для оценки эффективности.')
            +cards-simple-item('Оптимизация страниц сайта', 'Корректируем страницы под требования поисковых систем, учитывая спрос аудитории.')
            +cards-simple-item('Внешняя оптимизация', 'Делаем упор на естественную ссылочную массу, чтобы исключить риски фильтров поисковых систем')
            +cards-simple-item('Технический анализ', 'Анализируем состояние сайта по 800 параметрам и исправляем ошибки.')
            +cards-simple-item('Анализ коммерческих факторов', 'Проверяем работоспособность всех ключевых коммерческих факторов.')

    section.section
      +section-head({
        num: "05",
        title: "Почему нам доверяют"
      })
      .section__block
        .container
          .cards-number__wrap
            +cards-number-item('01','Честность','Продвигаем сайты только честными способами')
            +cards-number-item('02','Компетенции','Свои разработчики, копирайтеры и дизайнеры')
            +cards-number-item('03','Отчетность','Выстраиваем прозрачные процессы и отчетность')
            +cards-number-item('04','Персонализация','Нет тарифов «для всех». Считаем медиаплан под вас')
            +cards-number-item('05','Коммуникация','Ценим обратную связь и командный подход')
            +cards-number-item('06','Ответственность','Работаем «под ключ», забирая всю рутину по SEO на себя')
      


    section.section
      +section-head({
        num: "06",
        title: "Заслужили доверие",
        subtitle: "За 10 лет изучили специфику многих бизнес-направлений. Это помогает нам говорить с бизнесом на одном языке — быстрее понимать задачи"
      })
      .section__block
        .container
          .row
            .mb-3.col-lg-6.mb-lg-0
              .main-about__wrap
                .main-about__item
                  .main-about__numbers 10 лет
                  .main-about__text опыта и экспертизы в интернет-маркетинге
                .main-about__item
                  .main-about__numbers 2 офиса
                  .main-about__text в Москве и Тамбове
                .main-about__item
                  .main-about__numbers 900+
                  .main-about__text успешно выполненных проектов
                .main-about__item
                  .main-about__numbers 80+
                  .main-about__text сертифицированных специалистов

            .col-lg-6
              +main-rating-wrap
              
      .section__block
        .container
          .row
            .col-12.offset-0.col-md-8.offset-md-2.col-lg-12.offset-lg-0
              +clients-slider

    section.section
      +section-head({
        num: "07",
        title: "Усиливаем маркетинг со всех сторон",
        subtitle: "Объединяем инструменты performance и brandformance-маркетинга в работающую стратегию"
      })
      .section__block
        .container
          .departments__wrap
            +departments-item({
              title: `Performance-<br>маркетинг`,
              text: "Запускаем и масштабируем стратегии продвижения. Тестируем и подбираем рекламные каналы и форматы. В результате — растим лиды и продажи.",
              tag1: "Контекстная реклама",
              tag2: "Таргетированная реклама",
              tag3: "SEO"
            })
            +departments-item({
              title: `Brandformance-<br>маркетинг`,
              text: "Соединяем инструменты performance-маркетинга и брендинга и добиваемся долгосрочной лидогенерации за счет формирования узнаваемости бренда.",
              tag1: "SMM",
              tag2: "Работа с репутацией",
              tag3: "Programmatic, media"
            })
            +departments-item({
              title: `Веб-<br>разработка`,
              text: "Создаем сайты и поддерживаем их работу: обновляем контент, дорабатываем функциональность, следим за метриками и быстро устраняем ошибки.",
              tag1: "Создание сайтов",
              tag2: "Разработка",
              tag3: "Поддержка"
            })
            +departments-item({
              title: `Консалтинг <br>и исследования`,
              text: "Исследуем digital-среду, конкурентов и рынок, чтобы отстраиваться от конкурентов и выбирать инструменты маркетинга, которые дают результат.",
              tag1: "SEO",
              tag2: "Аудит контекстной рекламы",
              tag3: "Анализ и исследования"
            })
