extends ../templates/template.pug
block content

  +section-top({
    title: `SMM<br>продвижение`,
    slogan: "Подготовим предложение на разработку сайта",
    subtitle: `Выстраиваем лояльные отношения с аудиторией в социальных сетях, <span class="text-pink">формируем знание о продукте и находим клиентов</span>`,
  })

  +page-banner("3d-smm.png")

  .page-body
    
    .text-simple__block
      .container
        .row
          .col-12.col-lg-6.offset-lg-3
            .text-simple
              p Доносим знание о товарах или бренде до разных сегментов аудитории, находим новых клиентов и выстраиваем диалог с текущими пользователями. 
              p Продвигаем бренды, услуги и товары на разных площадках: Telegram, VK, Одноклассники и других соцсетях. Разрабатываем стратегии продвижения и контент-стратегии, создаем фирстиль, визуальный и текстовый контент. Привлекаем блогеров и инфлюенсеров, общаемся с вашим комьюнити.
    
    section.section
      +section-head({
        num: "01",
        title: "Решаем задачи бизнеса",
      })

      .section__block
        .container
          .reasons__wrap
            +reasons-item({
              title:"Находим первую аудиторию новым проектам",
              text: "Запустим с нуля продвижение в соцсетях для проектов, которые только выходят на рынок. Целимся на охваты аудитории."
            })
            +reasons-item({
              title:"Формируем лояльность",
              text: "Если о вас уже знает аудитория, запустим дополнительные каналы продвижения: найдем общий язык с пользователями и вовлечем в диалог. Познакомим с продуктами, снимем возражения."
            })
            +reasons-item({
              title:"Усиливаем узнаваемость и продажи",
              text: "Расширим охват аудитории и повысим знание о бренде или продукте. Лояльных покупателей стимулируем к повторным обращениям и покупкам. "
            })


    section.section
      +section-head({
        num: "02",
        title: "Работаем комплексно",
        subtitle: "Запускаем сообщества в социальных сетях с нуля или подхватываем ведение текущих: подстраиваемся под существующий тон-оф-войс, находим точки роста, пробуем новые механики продвижения."
      })

      .section__block
        .container
          .work-directions__wrap
            +work-directions-item({
              mod: "active",
              style: "display: block;",
              num: "01",
              name: "Аудит",
              subtitle1: "Что делаем",
              text1: "Проанализируем текущие соцсети и конкурентов, определим аудиторию, подберем площадки, сформируем стратегию продвижения и KPI.",
              subtitle2: "Что вы получаете",
              text2: "Полное представление сегментов аудитории и ее потребности с разбором конкурентов. Описание целей и задачи продвижения, KPI. Воронку продаж с рекомендациями по продвижению и визуалу. Примеры оформления и референсы контента."
            })
            +work-directions-item({
              mod: "",
              style: "",
              num: "02",
              name: "Контент-стратегия",
              subtitle1: "Что делаем",
              text1: "Проанализируем текущие соцсети и конкурентов, определим аудиторию, подберем площадки, сформируем стратегию продвижения и KPI.",
              subtitle2: "Что вы получаете",
              text2: "Полное представление сегментов аудитории и ее потребности с разбором конкурентов. Описание целей и задачи продвижения, KPI. Воронку продаж с рекомендациями по продвижению и визуалу. Примеры оформления и референсы контента."
            })
            +work-directions-item({
              mod: "",
              style: "",
              num: "03",
              name: "Ведение сообществ",
              subtitle1: "Что делаем",
              text1: "Проанализируем текущие соцсети и конкурентов, определим аудиторию, подберем площадки, сформируем стратегию продвижения и KPI.",
              subtitle2: "Что вы получаете",
              text2: "Полное представление сегментов аудитории и ее потребности с разбором конкурентов. Описание целей и задачи продвижения, KPI. Воронку продаж с рекомендациями по продвижению и визуалу. Примеры оформления и референсы контента."
            })
            +work-directions-item({
              mod: "",
              style: "",
              num: "04",
              name: "Продвижение",
              subtitle1: "Что делаем",
              text1: "Проанализируем текущие соцсети и конкурентов, определим аудиторию, подберем площадки, сформируем стратегию продвижения и KPI.",
              subtitle2: "Что вы получаете",
              text2: "Полное представление сегментов аудитории и ее потребности с разбором конкурентов. Описание целей и задачи продвижения, KPI. Воронку продаж с рекомендациями по продвижению и визуалу. Примеры оформления и референсы контента."
            })


    section.section
      +section-head({
        num: "03",
        title: "Разрабатываем и поддерживаем проекты в разных нишах",
      })
      .section__block
        .container
          +cases-block

      .section__block
        .container
          .section-bottom
            a(href="javascript:void(0);").btn.btn-tr Все кейсы





    section.section
      +section-head({
        num: "04",
        title: "Заслужили доверие",
        subtitle: "За 10 лет изучили специфику многих бизнес-направлений. Это помогает нам говорить с бизнесом на одном языке — быстрее понимать задачи"
      })
      .section__block
        .container
          .row
            .mb-3.col-lg-6.mb-lg-0
              .main-about__wrap
                .main-about__item
                  .main-about__numbers 10 лет
                  .main-about__text опыта и экспертизы в интернет-маркетинге
                .main-about__item
                  .main-about__numbers 2 офиса
                  .main-about__text в Москве и Тамбове
                .main-about__item
                  .main-about__numbers 900+
                  .main-about__text успешно выполненных проектов
                .main-about__item
                  .main-about__numbers 80+
                  .main-about__text сертифицированных специалистов

            .col-lg-6
              +main-rating-wrap
              
      .section__block
        .container
          .row
            .col-12.offset-0.col-md-8.offset-md-2.col-lg-12.offset-lg-0
              +clients-slider





    section.section
      +section-head({
        num: "05",
        title: "Усиливаем маркетинг со всех сторон",
        subtitle: "Объединяем инструменты performance и brandformance-маркетинга в работающую стратегию. Учитывая юнит-экономику и маркетинг бизнеса."
      })
      .section__block
        .container
          .departments__wrap
            +departments-item({
              title: `Performance-<br>маркетинг`,
              text: "Запускаем и масштабируем стратегии продвижения. Тестируем и подбираем рекламные каналы и форматы. В результате — растим лиды и продажи.",
              tag1: "Контекстная реклама",
              tag2: "Таргетированная реклама",
              tag3: "SEO"
            })
            +departments-item({
              title: `Brandformance-<br>маркетинг`,
              text: "Соединяем инструменты performance-маркетинга и брендинга и добиваемся долгосрочной лидогенерации за счет формирования узнаваемости бренда.",
              tag1: "SMM",
              tag2: "Работа с репутацией",
              tag3: "Programmatic, media"
            })
            +departments-item({
              title: `Веб-<br>разработка`,
              text: "Создаем сайты и поддерживаем их работу: обновляем контент, дорабатываем функциональность, следим за метриками и быстро устраняем ошибки.",
              tag1: "Создание сайтов",
              tag2: "Разработка",
              tag3: "Поддержка"
            })
            +departments-item({
              title: `Консалтинг <br>и исследования`,
              text: "Исследуем digital-среду, конкурентов и рынок, чтобы отстраиваться от конкурентов и выбирать инструменты маркетинга, которые дают результат.",
              tag1: "SEO",
              tag2: "Аудит контекстной рекламы",
              tag3: "Анализ и исследования"
            })



    
    


