header.header
  .header__wrap
    .container
      .header__inner
        .row.align-items-center
          .col-10.col-lg-6.d-flex.align-items-lg-center
            a(href="/").logo__img
              svg(class="logo__icon" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 32' fill='none')
                path(d='M21.8182 21.8182L0 0H43.6364L21.8182 21.8182Z' fill='#FFB200')
                path(d='M0 10.1818L21.8182 32H0V10.1818Z' fill='#FF0099')
                path(d='M43.6346 10.1818L21.8164 32H43.6346V10.1818Z' fill='#FF0099')
              svg(class="logo__name" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69 32' fill='none')
                path(d='M12.2051 32L0.546875 0H5.2087L14.9178 27.12H16.0014L25.7105 0H30.3723L18.7142 32H12.2051Z' fill='#1F1F1F')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M34.4364 32V0H48.5382C50.3128 0 51.8982 0.392727 53.3092 1.16364C54.7201 1.94182 55.811 3.01091 56.5891 4.36364C57.3673 5.72364 57.7528 7.25091 57.7528 8.94545C57.7528 10.0655 57.571 11.0764 57.2073 11.9855C56.8437 12.8873 56.3928 13.6291 55.8546 14.2109C55.3092 14.7927 54.771 15.2073 54.2255 15.4618V15.7309C55.2728 16.1673 56.211 16.9964 57.0473 18.2255C57.8764 19.4545 58.291 20.9745 58.291 22.7782C58.291 24.48 57.8837 26.0291 57.0691 27.44C56.2546 28.8509 55.1419 29.9636 53.731 30.7782C52.3201 31.5927 50.7637 32 49.0691 32H34.4364ZM48.5382 13.8327C49.5128 13.8327 50.371 13.6364 51.1128 13.2364C51.8546 12.8364 52.4219 12.2691 52.8219 11.5273C53.2219 10.7855 53.4182 9.92727 53.4182 8.95273C53.4182 7.46909 52.9746 6.28364 52.0873 5.40364C51.2001 4.51636 50.0146 4.07273 48.5382 4.07273H38.7782V13.8327H48.5382ZM49.0837 27.9345C50.4582 27.9345 51.6146 27.4473 52.5528 26.4727C53.491 25.4982 53.9637 24.2691 53.9637 22.7855C53.9637 21.3018 53.491 20.0727 52.5528 19.0982C51.6146 18.1236 50.4582 17.6364 49.0837 17.6364H38.7782V27.9418H49.0837V27.9345Z' fill='#1F1F1F')
                path(d='M64.5242 0V32H68.866V0H64.5242Z' fill='#1F1F1F')
            .logo__text Digital-агентство со стратегическим подходом
          .col-2.col-lg-6.d-flex.align-items-lg-center.justify-content-end.justify-content-lg-between
            nav.header-menu
              ul.header-menu__list
                li#menu-services.header-menu__item.active
                  a(href="javascript:void(0);").header-menu__link Услуги
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Кейсы
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link О компании
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Блог
                li.header-menu__item
                  a(href="javascript:void(0);").header-menu__link Контакты
            .header-buttons
              a(href="#section-form").btn.btn-yellow.btn-phone.scroll-to
                svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M12.5 6C13.8807 6 15 4.88071 15 3.5C15 2.11929 13.8807 1 12.5 1C11.1193 1 10 2.11929 10 3.5C10 4.88071 11.1193 6 12.5 6ZM0.0892914 2.02624C0.335857 3.99979 1.22849 8.41219 4.40879 11.5926C7.58911 14.773 11.9996 15.6637 13.9721 15.9093C14.532 15.979 14.997 15.5342 14.997 14.97L14.9972 11.4263C14.9973 11.0475 14.7832 10.7012 14.4444 10.5318L12.1803 9.39994C11.7953 9.2075 11.3304 9.28295 11.0261 9.58726L9.68424 10.929C9.40635 11.2069 8.9918 11.2939 8.64717 11.1051C8.13454 10.8242 7.34192 10.3129 6.51517 9.48613C5.68815 8.6591 5.17562 7.86505 4.89379 7.35146C4.70445 7.00642 4.79136 6.59109 5.06968 6.31281L6.4106 4.97206C6.715 4.6677 6.79048 4.20269 6.59797 3.81767L5.46595 1.55359C5.29656 1.2148 4.95029 1.00079 4.57152 1.0008L1.02866 1.00084C0.464268 1.00085 0.019321 1.46618 0.0892914 2.02624Z' fill='#1F1F1F')
  
                span Заказать звонок
              .menu-humb__wrap
                .menu-humb
                  .icon-humb
                    .icon-humb__line
                    .icon-humb__line
                    .icon-humb__line
          
  .menu-dropdown
    .container
      .menu-dropdown__inner
        .menu-dropdown__block.animate__slideInDown(style="animation-duration: 200ms;") 
          a(href="javascript:void(0);").menu-dropdown__title 
            span Performance-маркетинг
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')

          .menu-dropdown__list
            .menu-dropdown__item
              a(href="javascript:void(0);") Контекстная реклама
            .menu-dropdown__item
              a(href="javascript:void(0);") Таргетированная реклама
            .menu-dropdown__item
              a(href="javascript:void(0);") SEO
        .menu-dropdown__block.animate__slideInDown(style="animation-duration: 400ms;")
          a(href="javascript:void(0);").menu-dropdown__title
            span Brandformance-маркетинг
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')

          .menu-dropdown__list
            .menu-dropdown__item
              a(href="javascript:void(0);") SMM
            .menu-dropdown__item
              a(href="javascript:void(0);") Работа с репутацией
            .menu-dropdown__item
              a(href="javascript:void(0);") Programmatic, media
        .menu-dropdown__block.animate__slideInDown(style="animation-duration: 600ms;")
          a(href="javascript:void(0);").menu-dropdown__title
            span Веб-разработка
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')

        .menu-dropdown__block.animate__slideInDown(style="animation-duration: 800ms;")
          a(href="javascript:void(0);").menu-dropdown__title
            span Консалтинг и&nbsp;исследования
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')


  .menu-mob
    .container
      .menu-mob__inner
        nav.menu-mob__nav
          ul.menu-mob__list
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title 
                span Performance-маркетинг
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
              .menu-dropdown__list
                .menu-dropdown__item
                  a(href="javascript:void(0);") Контекстная реклама
                .menu-dropdown__item
                  a(href="javascript:void(0);") Таргетированная реклама
                .menu-dropdown__item
                  a(href="javascript:void(0);") SEO
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span Brandformance-маркетинг
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
              .menu-dropdown__list
                .menu-dropdown__item
                  a(href="javascript:void(0);") SMM
                .menu-dropdown__item
                  a(href="javascript:void(0);") Работа с репутацией
                .menu-dropdown__item
                  a(href="javascript:void(0);") Programmatic, media
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span Веб-разработка
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span Консалтинг и исследования
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span Кейсы
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span О компании
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span Блог
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')
            li.menu-mob__item
              a(href="javascript:void(0);").menu-dropdown__title
                span Контакты
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7.79274 2.70711C7.40222 2.31658 7.40222 1.68342 7.79274 1.29289C8.18327 0.902369 8.81643 0.902369 9.20696 1.29289L15.207 7.29289L15.9141 8L15.207 8.70711L9.20696 14.7071C8.81643 15.0976 8.18327 15.0976 7.79274 14.7071C7.40222 14.3166 7.40222 13.6834 7.79274 13.2929L12.0856 9L0.999849 9C0.447565 9 -0.000150681 8.55228 -0.000150681 8C-0.000150681 7.44772 0.447564 7 0.999849 7L12.0856 7L7.79274 2.70711Z' fill='#1F1F1F')

