//.menu-mob-wrap.d-block.d-lg-none
  //.menu-mob
  //  .menu-mob__top
  //    .city__block__wrap
  //      .city__block.arrow-little
  //        img(src='../img/icon-geo.svg' alt='', title='').icon-geo
  //        .city-name Краснодар
  //      .city__block__dropdown
  //        .city__block__dropdown-inner
  //          ul.city-list
  //            li.city-item
  //              a(href="javascript:void(0);").city-link Москва
  //            li.city-item
  //              a(href="javascript:void(0);").city-link Краснодар
  //            li.city-item
  //              a(href="javascript:void(0);").city-link Санкт-Петербург
  //    .close-block
  //      +icon('close', '')
  //  
  //  .menu__blocks
  //    .catalog-mob__blocks
  //      .catalog-mob__block.accord-wrap--js.active
  //        .catalog__block-title.catalog-icon.direct-icon.accord-title--js Каталог товаров
  //        .catalog-mob__block-inner.accord-block--js(style='display:block;')
  //          ul.catalog-mob__block-list
  //            each val in ['Для дома', 'Автохимия и детейлинг','Химчистка и прачеченая','Пищевые производства','Дезинфекция','Клининг (HoReCa)', 'Для ремонта']
  //              li.catalog-mob__block-item
  //                a(href="javascript:void(0);").catalog-mob--link !{val} 
  //
  //
  //      .catalog-mob__block.accord-wrap--js
  //        .catalog__block-title.catalog-icon.equip-icon.accord-title--js Покупателям
  //        .catalog-mob__block-inner.accord-block--js
  //          ul.catalog-mob__block-list
  //            each val in ['Покупателям 1','Покупателям 2']
  //              li.catalog-mob__block-item
  //                a(href="javascript:void(0);").catalog-mob--link !{val} 
  //
  //
  //    .menu-mob--links
  //      a(href="javascript:void(0);").menu-mob--link Как купить
  //      a(href="javascript:void(0);").menu-mob--link Возврат и обмен товаров
  //      a(href="javascript:void(0);").menu-mob--link.menu-mob--link_bonus Бонусы и скидки 
  //      a(href="javascript:void(0);").menu-mob--link Контакты 
  //    a(href="tel:+7 (918) 491 20 10").mob-tel +7 (918) 491 20 10
  //    +social__list
//
//
//
//
//
