.search__wrap
  .search-select.arrow-little <span>Поиск по разделам</span>
  .search__block
    input(type='search').search-input
    img(src='../img/icon-search.svg' alt='', title='').icon-search
  +drop__menu-wrap('drop__menu-wrap_search')
